.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin: 15px 30px;
	border-radius: .25rem;

	&__danger {
		color: #721c24;
		background-color: #ffc889;
	}

	&__success {
		color: #1c7223;
		background-color: #89ffab;
	}
}