.authentification-page {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100vh;

	h2 {
		text-align: center;
		margin-bottom: 50px;
	}

	.form {
		display: grid;
		align-items: center;
		input {
			display: block;
			margin: 15px auto;
		}
	}

}