.button {
	padding: 7px 15px;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	display: block;
	margin: auto;

	&__primary {
		background: $primary;
		color: white;
	}

	&__tertiary {
		background: $tertiary;
		color: white;
	}
}