.card {
	border-radius: 15px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	&__dark {
		transition: .3s ease;
		background: $dark_bg;
		p {
			color: $dark_text;
		}

		h3 {
			color: white;
		}
	}

	&__action {
		cursor: pointer;
		&:hover, &.active {
			background: $primary;

			p {
				color: white;
			}
		}
	}

	h3 {
		margin-bottom: 20px;
	}
}