.form {

	&__dark {
		background: $dark_bg;
		h2, h3, input, textarea {
			color: white;
		}
		p:not(.alert) {
			color: $dark_text;
		}
	}
	.input {
		text-align: center;
		border: none;
		padding: 12px 15px;
		border-radius: 30px;
		background: $input_bg;
		outline: none;
		display: block;
		margin: 6px auto;

		&__dark {
			background: rgba(0, 0, 0, 0.1);
		}

		&:focus {
			border-color: $primary;
		}
	}

	textarea {
		resize: none;
	}

	&.addTask {
		display: flex;
		flex-direction: column;

		h2 {
			margin-bottom: 30px;
		}

		input, textarea {
			margin-bottom: 12px;
			position: relative;
		}
	}

	input[type="date"] {
		position: relative;
		&::-webkit-calendar-picker-indicator {
			opacity: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
	}
}