.modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;

	.modal-inside {
		background: white;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		border-radius: 10px;

		p {
			padding: 15px 30px;
		}

		.button-group {
			display: flex;
			justify-content: center;
			padding-bottom: 15px;

			.button {
				margin: 0;

				&:first-child {
					margin-right: 10px;
				}
			}
		}
	}
}