.nav {
	padding-top: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	h2 {
		margin-bottom: 30px;
		padding: 0 15px;
	}

	input {
		display: block;
		margin: auto;
	}

	ul {
		margin-top: 10px;

		.nav-item {
			display: flex;
			justify-content: space-between;
			padding: 7px 30px;
			align-items: center;
			position: relative;
			cursor: pointer;
			transition: .3s ease;
			border-top: 1px solid #ddd;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				background: $primary;
				opacity: 0;
				transition: .3s ease;
				z-index: -1;
			}

			&:hover, &.active {
				color: white;

				svg path {
					fill: white;
				}

				&::before {
					width: 100%;
					opacity: 1;
				}
			}

			&:last-child {
				border-bottom: 1px solid #ddd;
			}
		}
	}
}