* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

main {
	min-height: 100vh;
}

h1 {
	font-family: 'Open Sans', sans-serif;
}

h2, h3 {
	font-family: 'Teko', sans-serif;
}

h1, h2, h3 {
	margin-bottom: 50px;
	color: black;
	letter-spacing: 0.5px;
}

p, div, label, a, span {
	font-family: 'Open Sans', sans-serif;
	color: $text_color;
}

.center {
	text-align: center;
}

.spaced {
	padding: 15px 20px;
}

.d-n {
	display: none;
}

.pointer {
	cursor: pointer;
}

.d-flex{
	display: flex;
}

.grid {
	padding: 10px;
	display: grid;
	grid-gap: 15px;

	&__3 {
		grid-template-columns: repeat(3, 1fr);
		align-items: start;
	}
}

.main-content {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 250px 1fr 300px;
}
